@import "./index.css";

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.grid {
  display: grid;
  align-items: center;
  column-gap: 2.4rem;
}

.grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.title-primary {
  font-size: 5.2rem;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  letter-spacing: -1.5px;
  margin-bottom: 3.2rem;
}

.desc {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 2.4rem;
}
