@import "./index.css";

.container-primary,
.container-secondary {
  margin: 0 auto;
  padding: 0 2rem;
}

.container-primary {
  max-width: 160rem;
}

.container-secondary {
  max-width: 140rem;
}

.section {
  padding: 9.6rem 0rem;
  color: #212529;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  column-gap: 9.6rem;
}

.grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.width-full {
  width: 100%;
}

.title-primary,
.page-title--primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.5px;
  margin-bottom: 3.2rem;
}

.title-primary {
  color: #fff;
}

.title-secondary {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1;
  color: #212529;
  color: var(--clr-main--light);
  letter-spacing: -1.5px;
  margin-bottom: 2.4rem;
}

.page-desc,
.desc {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 4.4rem;
  color: #bcbebf;
}

.text-shadow {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
