.btn-feedback {
  padding: 0.2rem 1rem;
  background-color: #eee;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

btn-feedback:hover {
  background-color: #fff;
}
