.header-nav {
  height: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav.container-primary {
  padding: 2rem;
}

.landing-bg {
  background-color: var(--clr-grey--dark);
}

.landing-link {
  color: var(--clr-grey--dark);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1.05;
  color: #fff;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-link {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
  color: #fff;
}

.nav-link.nav-link--catalog {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.catalog-menu,
.user-menu {
  z-index: 1;
  display: flex;
  gap: 1.6rem;
  position: absolute;
  top: 6.4rem;
  padding: 0.8rem 1.6rem;
  background: transparent;
  border: 0.5px solid #fff;
  border-radius: 0.4rem;
  transition: opacity 0.4s;
  opacity: 0;
}

.open {
  opacity: 1;
}

.catalog-menu--icon {
  width: 15px;
  height: 15px;
}

.catalog-link {
  text-shadow: none;
  font-weight: 500;
  font-size: 1.4rem;
}

.auth-page {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.auth-page .nav-link {
  border: 1px solid #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
}

.auth-page .nav-link:hover {
  border-color: var(--clr-main--dark);
  color: var(--clr-main--dark);
}

.auth-question {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ccc;
}

/* .catalog-link.nav-link {
} */

.nav-link:hover {
  color: var(--clr-main--dark);
}

/* USER DROPDOWN */
/* CSS code for user dropdown menu */

/* .user-btn {
  position: relative;
} */

.dropdown-menu-wrapper {
  position: relative;
}

.user-dropdown--menu {
  position: absolute;
  z-index: 3;
  top: 7rem;
  right: -5px;
  border: 2px solid var(--clr-main--light);
  width: 20rem;
  padding: 2rem;
  background-color: #fff;
  color: var(--clr-grey--dark);
  border-radius: 0.8rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0;
}

.user-dropdown--menu::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: -0.5rem;
  right: 2rem;
  transform: rotate(45deg);
  background-color: #fff;
  border-top: 2px solid var(--clr-main--light);
  border-left: 2px solid var(--clr-main--light);
}

.user-dropdown--username,
.user-dropdown--email {
  text-align: center;
}

.user-dropdown--username {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-main--light);
  letter-spacing: -0.05em;
  margin-bottom: 0.8rem;
}
.user-dropdown--email {
  font-size: 1.4rem;
  color: #bcbebf;
  margin-bottom: 3.2rem;
}

.user-dropdown--list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.user-avatar--img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.3s;
  cursor: pointer;
}

.user-avatar--img:hover {
  border-color: var(--clr-main--light);
}

.nav-link--active {
  color: #fff;
}

.user-dropdown--link {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 0.8rem 0;
  border-top: 1px solid var(--clr-main--light);
  transition: all 0.3s;
}

.user-dropdown--link:hover .user-dropdown--icon {
  stroke: #bcbebf;
}

.user-dropdown--link p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #666;
}

.user-dropdown--link:hover p {
  color: var(--clr-main--dark);
}

.user-dropdown--icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .nav {
    gap: 1.6rem;
  }
}
