@import "../../App.css";

.home-page {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(51, 49, 49, 0.9),
      rgb(51, 49, 49, 0.6)
    ),
    url("../../assets/images/hero-image.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.home-page .nav-link,
.home-page .logo {
  color: #fff;
}

.home-page .nav-link:hover {
  color: var(--clr-main--light) !important;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.customers {
  display: flex;
}

.customers-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.customer-img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -10px;
}

.customer-description {
  font-size: 1.8rem;
  font-weight: 500;
}

.customer-description span {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-main--dark);
}

.desc {
  margin-bottom: 1.6rem !important;
}

.btn--signin {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.5px #fff;
}

.btn--signin:hover {
  box-shadow: none;
  background-color: var(--clr-main--dark-hover);
}

.title-primary span {
  color: var(--clr-main--dark);
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .customers-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .hero.container {
    width: 100%;
  }
}
