.section-footer {
  background-color: var(--clr-grey--dark);
}

.footer {
  align-items: start !important;
}

.footer .title-secondary {
  color: #fff;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-about--desc {
  /* font-size: 1.4rem; */
  color: #ccc;
}
.contact-list {
  display: flex;
  gap: 2.4rem;
}
.contact-icon {
  width: 3.2rem;
  height: 3.2rem;
}

@media screen and (max-width: 768px) {
  .footer.grid--cols-3 {
    grid-template-columns: auto;
    gap: 2.4rem;
  }
}
