.filter-menu {
  position: sticky;
  top: 16rem;
  z-index: 999;
  width: 30rem;
  padding: 2.4rem;
  background-color: #fff;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  transition: height 250ms ease-in-out;
}

.filter-menu--label {
  display: block;
  margin-bottom: 1.6rem;
}

.input-location-wrapper {
  position: relative;
}

.menu-title,
.input-title {
  color: var(--clr-grey--dark) !important;
}

.menu-title {
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 0.8rem;
  margin-bottom: 1.6rem;
  border-bottom: 2px solid #ccc;
}

.input-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.input-field {
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  padding: 0.8rem;
  outline: none;
  border: 1px solid #ccc;
}

.btn-filter {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.4rem;
  padding: 1.4rem;
  background-color: var(--clr-grey--dark);
  transition: all 0.3s;
}

.location-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  stroke: #ccc;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.btn-filter:hover {
  background-color: var(--clr-grey--dark--hover);
}

@media screen and (max-width: 768px) {
  .filter-menu {
    top: 0;
    width: 100%;
    border-radius: 0;
  }

  .filter-menu form {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  .menu-title {
    text-align: center;
  }
}
