.card {
    width: 450px;
    height: 350px;
    align-self: center;
    .card-header {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: relative;
        img {
            max-width: 100%;
            height: 350px;
            object-fit: cover;
            filter: brightness(40%);
        }
        .card-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 100%;
            min-height: 100%;
            position: absolute;
            h2 {
                background-color: #982cc1;
                color: white;
                padding: 10px;
                font-weight: 300;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
    .card-details {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: swing-in-top-fwd 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
            both;
        a {
            display: block;
            font-weight: 400;
            background-color: #5355b2;
            padding: 10px;
            font-size: 20px;
            border: 0;
            color: white;
            text-align: center;
        }
        a:hover {
            background: transparent;
            color: black;
            border-top: 0.5px solid black;
            border-bottom: 0.5px solid black;
        }
        .card-infomation {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            gap: 5px;
            p {
                display: block;
            }
        }
    }
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}
