.catalog-list--item {
  position: relative;
  background-color: inherit;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  transition: all 0.4s;
  cursor: pointer;
}

.catalog-list--item:hover {
  transform: scale(1.025);
  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.1);
}

.item-info {
  padding: 2.4rem;
}

.card-img--wrapper {
  aspect-ratio: 1/1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
  background-color: #eee;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.card-title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.subtitle {
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.item-contacts {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.item-contacts-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--clr-grey--dark);
}

.contacts-icon,
.likes-icon,
.settlement-icon {
  display: inline-block;
  stroke: var(--clr-grey--light);
  width: 20px;
  height: 20px;
}

.settlement-wrapper {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 0.4rem;
}

.likes-info {
  position: absolute;
  top: 5%;
  left: -4%;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  color: #fff;
  background-color: var(--clr-main--dark);
  z-index: 1;
  gap: 0.4rem;
}

.likes-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: #fff;
  stroke: none;
}

.text-likes {
  margin: 0;
  color: #fff;
  font-weight: 500;
}
