.catalog-list--item {
  position: relative;
  background-color: inherit;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  transition: all 0.4s;
  cursor: pointer;
}

.catalog-list--item:hover {
  transform: scale(1.025);
  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.1);
}

.item-info {
  padding: 2.4rem;
}

.item-img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.settlement {
  font-size: 1.6rem;
  font-weight: 500;
  /* margin-bottom: 3.2rem; */
  color: var(--clr-grey--light);
}

.title-tertirty {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: var(--clr-grey--dark);
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: var(--clr-grey--dark);
}

.item-contacts {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.item-contacts-info {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 0.8rem;
  color: var(--clr-grey--dark);
}

.contacts-icon,
.likes-icon,
.settlement-icon {
  display: inline-block;
  stroke: var(--clr-grey--light);
  width: 20px;
  height: 20px;
}

.settlement-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 3.2rem;
}

.likes-info {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0.4rem 1.6rem;
  border-radius: 8px 0 8px 0;
  color: #fff;
  background-color: var(--clr-main--dark);

  gap: 0.8rem;
}
.likes-icon {
  display: inline-block;
  fill: #fff;
}
.text-likes {
  font-size: 1.6rem;
  font-weight: 500;
}
