.profile__page {
  flex: 1;
  margin-top: 80px;

  .user__info {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .user__info__left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .user__image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #5554b2;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-perfonal__info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin: 0;
          font-size: 1.2rem;
          color: black;
          font-weight: 400;
        }
      }
    }

    .user__info__right {
      align-self: start;
      width: 400px;
      h3 {
        margin: 0;
        font-size: 1.2rem;
        color: black;
        font-weight: 600;
      }
      p {
        margin: 0;
        font-size: 1rem;
        color: black;
        font-weight: 400;
      }
    }
  }

  .user-added__schools,
  .user-liked__schools {
    width: 80%;
    margin: auto;

    .heading {
      margin: 0;
      border-bottom: 1px solid black;
      margin-bottom: 15px;
      font-size: 1.5rem;
      font-weight: 600;
      color: black;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 25px;
      margin-bottom: 15px;
    }

    .no-schools {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 0;
        font-size: 1.2rem;
        color: black;
      }

      a {
        text-decoration: none;
        color: #5554b2;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 10px;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
