.site-header {
  width: 100%;
  display: flex;
  padding: 0 10%;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  .site-navigation {
    li {
      display: inline-block;
      padding-left: 10px;
      font-size: 18px;
    }
    a {
      color: black;
      padding: 10px;
      border-radius: 7px;
      transition: all 0.2s ease-in;
    }
    a:hover {
      color: white;
      background-color: black;
    }
  }
  .logo-container {
    width: 200px;
    height: 100px;
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
