.card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 550px;
    gap: 2rem;
    .card-info__header {
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 32px;
    }
    .card-info__text {
        font-weight: 400;
        font-size: 16px;
        transition: all 0.6s ease;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
    }
    .card-info__text:hover {
        transform: scale(1.2);
    }
}
