.isLandingPage .nav-link,
.isLandingPage .logo {
  color: #fff !important;
}

.isLandingPage .nav-header {
  flex-direction: unset;
  background-color: #333131;
  height: 6.2rem;
  flex-wrap: wrap;
}

.isLandingPage .header-nav {
  height: 6.2rem;
}

.isLandingPage .nav-link:hover {
  color: var(--clr-main--dark-hover) !important;
}

.isLandingPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
