.site-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #e9e4f0;
    animation: fade-in 0.4s linear both;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
