.site-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  // background: #d3cce3;
  background: #e7daed // background: linear-gradient(0deg, rgba(231, 218, 231, 1) 0%, rgba(189, 171, 185, 1) 100%);
    /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);

    /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right,
    //     #e9e4f0,
    //     #d3cce3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}