article {
  // flex: 1;
  flex-grow: 1;
  // margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.4s linear both;
  position: relative;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}