.login-form__main-error {
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  background-color: #fa4b53;
  color: white;
  font-weight: 200;
  padding: 4px 10px;
  margin-bottom: 5px;
}