.create-page {
  width: 70%;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  .form-container {
    width: 55%;
    height: 100%;
    background-color: #fffff7;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      background-color: #fffff7;
      padding: 20px;
      border-radius: 4px;
      width: 80%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

      label {
        display: block;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
        font-weight: 400;
      }

      button {
        margin-top: 25px;
        width: 100%;
        height: 40px;
        border: 0;
        color: #fff;
        font-size: 20px;
        background-color: #6f43b7;
        color: white;
        cursor: pointer;
      }

      input,
      select {

        width: 100%;
        height: 40px;
        font-size: 16px;
        // text-align: center;
        font-weight: 300;
        font-style: italic;
        appearance: none;
        background-color: #fffff7;
        padding: 0 10px;
      }

      // disable google input styles
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #fffff7 inset !important;
      }

      select {
        font-size: 16px;
        text-align: center;
        font-style: italic;
        // appearance: none;
        font-weight: 400;

      }

      // .margin-input {
      //   // margin-bottom: 20px;
      // }

      input {
        border: 0;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.301);
      }

      .address-container {
        display: grid;
        grid-gap: 2px;
        align-items: center;
        grid-template-areas:
          "town city"
          "town street";

        .settlementType {
          grid-area: town;
          width: 60px;
          justify-self: center;
        }

        .settlement {
          grid-area: city;
        }

        .street {
          grid-area: street;
        }
      }
    }
  }

  .side-image {
    width: 45%;
    height: 100%;
    overflow: hidden;
    justify-self: flex-end;
    position: relative;

    #dance-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(35%);
    }

    .heading {
      width: 600px;
      position: absolute;
      top: 300px;
      text-align: center;
      font-size: 30px;
      font-weight: 300;
      color: #ddd;
      left: 50%;
      transform: translateX(-50%);

      span {
        font-weight: 400;
      }
    }
  }
}