.section-catalog {
  background-color: var(--clr-grey--light);
}

.catalog {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3.2rem;
}

.catalog-search--menu,
.search-menu-hidden-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.search-menu-hidden-box {
  gap: 1.6rem;
  padding: 1.6rem 2.4rem;
  font-size: 1.4rem;
}

.catalog-search--menu {
  background-color: #fff;
  width: 30rem;
  gap: 0.4rem;
  padding: 2.4rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.catalog-search-menu--title {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--clr-grey--dark);
}

.btn-search {
  font-size: 1.6rem;
  padding: 0.4rem 0;
  cursor: pointer;
  transition: all 0.3s;
}

.hidden-box--btn {
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-search:hover,
.hidden-box--btn:hover {
  color: var(--clr-main--light);
}

.search-menu--style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.box-top {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.hidden {
  display: none;
}

.chevron-down {
  margin-left: auto;
  width: 18px;
  height: 18px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  row-gap: 2.4rem;
}

@media screen and (max-width: 1340px) {
  .catalog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
}

@media screen and (max-width: 1030px) {
  .catalog-list {
    grid-template-columns: auto;
    gap: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .catalog,
  .page-header.grid--cols-2 {
    grid-template-columns: auto;
    gap: 6.4rem;
  }

  .catalog {
    gap: 6.4rem;
  }

  .header-right-box {
    display: none;
  }

  .catalog-search--menu {
    width: 100%;
  }
}
